* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
    overflow-x: hidden;
}

#logoPigTime {
    width: 20%;
    margin: 0 0 1% 0;
}

li {
    list-style: none;
}


/* FORM */

.container {
    margin: 0 auto 0 auto;
    padding: 1%;
}

.formCadastro {
    display: flex;
    justify-content: center;
}

.row {
    margin-bottom: 1%;
}

#btnEnviarForm {
    display: flex;
    margin-top: 2%;
    justify-content: center;
}

#btnEnviarForm label {
    margin-left: 2%;
}