* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#logoPigTime {
    width: 20%;
    margin: 0 0 1% 0;
}

header {
    border-bottom: 2px solid #ccc;
}

header a {
    margin: 1%;
    text-decoration: none;
    color: #47525E;
}

.menuItemsLeft {
    display: inline;
    margin-left: 5%;
    margin-right: 35%;
}

.menuItemsRight {
    display: inline;
}