/* CSS text*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logoPigTime {
    width: 20%;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #ccc;
}

nav {
    width: 100%;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div {
    padding: 0;
}

.navLeft a {
    float: left;

}

a {
    margin: 10px;
    text-decoration: none;
    color: #47525E;
}

.secFotos {
    width: 100%;
    padding: 4% 2%;
    display: inline-flex;
    justify-content: center; 
}

.secFotos>img {
    width: 31%;
    padding: 0 1px;
}